/* mobile nav */
.mobile-nav {
  position: fixed;
  background: var(--primary-color);
  top: 0;
  left: 0;
  bottom: -100px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  transition: all 200ms ease-in-out;
  /* opacity: 0; */
}

.mobile-nav li {
  padding: 1rem;
}

.mobile-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}
.mobile-nav a:hover {
  color: var(--secondary-color);
}
.close-mobile-btn {
  display: block;
  position: absolute;
  right: 5rem;
  top: 4rem;
  color: #fff;
  font-size: 2rem;
  transition: all 200ms ease;
}

.close-mobile-btn:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

@media (min-width: 1020px) {
  .mobile-nav {
    display: none;
  }
  .close-mobile-btn {
    display: none;
  }
}

a.mob-active {
  color: var(--secondary-color);
}
