.slider {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
  height: 350px;
  position: relative;
}
.slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 203%;
  pointer-events: none;
  cursor: grab;
  transition: all 200ms ease-in;
}

.slider-img {
  cursor: grab;
  width: 500px;
  margin: 1rem;
}

.svg-loading {
  color: #fff;
}

@media (max-width: 920px) {
  .slider {
    display: none;
  }
}
