.wdth {
    width: 100vw;
    background: var(--primary-color);
}

.adverts {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    color: #fff;
    padding: 2rem 0;
}

.stream-advert {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stream-image,
.event-image {
    width: 450px;
}
.stream-image img {
    width: 100%;
}
.event-image img {
    width: 100%;
}
.stream-txt h1,
.event-txt h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
}
.stream-txt p,
.event-txt p {
    margin-top: 1rem;
    line-height: 5px;
    font-size: 1rem;
    color: #b3b9b9;
    font-family: sans-serif;
}

.ad-btn {
    outline: none;
    font-size: 1.5rem;
    border: none;
    text-transform: uppercase;
    color: #fff;
    padding: 0 0.5rem;
    font-weight: 500;
    background: #d60808;
}
button.ad-btn {
    outline: none;
}

.ad-btn:hover {
    background: #9d2d2d;
}

.advert-events {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

@media (max-width: 1020px) {
    .stream-image,
    .event-image {
        width: 300px;
    }

    .stream-txt h1,
    .event-txt h1 {
        text-transform: uppercase;
        font-weight: 900;
    }
}

@media (max-width: 768px) {
    .stream-advert,
    .advert-events {
        flex-direction: column;
        justify-content: center;
    }
    .stream-image,
    .event-image {
        width: 500px;
        margin-bottom: 1rem;
    }
    .event-txt,
    .stream-txt {
        text-align: center;
    }
    .event-txt h1,
    .stream-txt h1 {
        font-size: 2rem;
    }
    .event-image {
        order: 1;
    }
    .event-txt {
        order: 2;
    }
}

/* responsive design */
@media (max-width: 576px) {
    .stream-image,
    .event-image {
        width: 300px;
    }
}

@media (max-width: 380px) {
    .stream-image,
    .event-image {
        width: 100vw;
    }
}
