.footer {
  margin-top: 3rem;
  background: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .social-media-links a {
  margin-right: 0.5rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.footer .copyright {
  font-family: sans-serif;
  color: #fff;
}

.footer .copyright a {
  margin-left: 0.5rem;
  text-decoration: underline;
  color: var(--secondary-color);
}
