.container-es {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: none;
  border: none;
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 962px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 100vw;
  }
}
