.egames {
  display: grid;
  place-items: center;
  background: #fff;
  height: 50vh; /* set a fixed height for now*/
  z-index: 1;
}

.egames h1 {
  color: var(--secondary-color);
  font-weight: 1000;
  margin-top: 1rem;
}
